@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}
@using Microsoft.AspNetCore.Identity;
@using Chirp.Core.Entities;
@inject SignInManager<Author> SignInManager;
@inject UserManager<Author> UserManager;
    

<div>
    <h2> Public Timeline </h2>
    @await Html.PartialAsync("_CheepboxPartial", Model.cheepBox)

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                            @if (SignInManager.IsSignedIn(User) && User.Identity?.Name != cheep.AuthorName) {
                                <button class = "button" name = "followbutton">
                                    <span>Follow</span>
                                </button>
                                }
                        </strong>
                    <div style="word-wrap: break-word;">
                            @cheep.Message
                    </div>
                    <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
