@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Identity;
@using Chirp.Core.Entities;
@inject SignInManager<Author> SignInManager;
@inject UserManager<Author> UserManager;

<div class="navigation">


    <!-- Ensures that cheepbox only shows up on public and private timeline, of a current logged in user
     But not on other users private timeline. In the future we can explore implementation
     of sending cheeps on other users timelines -->
    @if (SignInManager.IsSignedIn(User) && Context.Request.Path.Equals($"/{@User.Identity.Name}") ||
    Context.Request.Path.Equals("/"))
    {

        <div class="cheepbox">
            <h3>What's on your mind @(User.Identity.Name)?</h3>
            <form method="post">
                <input style="float: left" type="text" Name="CheepMessage" asp-page-handler="share" value="">
                <input type="submit" value="Share">
            </form>
        </div>
    }

</div>